<header>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top" aria-label="Main">
        <div class="container">
            <a href="#" class="navbar-brand d-inline-flex text-uppercase">Welcome
                <i class="bi-github" role="img" aria-label="GitHub"></i>
                <i class="bi-pc-display-horizontal" role="img" aria-label="Computer-icon"></i>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <i class="bi-list" role="img" style="font-size: 2rem;" aria-label="Menu"></i>
            </button>
            <div class="collapse navbar-collapse text-uppercase" id="navbar">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Experiences</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Education</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Courses</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>