<div class="container py-5">
    <div class="row">
        <div class="col-lg-6">
            <h1 class="display-1">Hi! I'm Jesus Caceres. Software developer</h1>
            <div class="border border-6 border-light w-25 my-4"></div>

            <p class="text-justify lead mb-4 text-secondary">
                Development pushes us to change and to be better every day, for this reason I seek personal and
                progressive growth using all my available skills to provide an optimal and effective work result.
            </p>
            <div class="text-center">
                <a href="https://themes.getbootstrap.com/product/focus/" class="btn btn-primary">Get Resume</a>
            </div>
        </div>
        <div class="col-lg-6">
            <img src="../../../assets/dev.png" alt="profile-pic" class="img-responsive">
        </div>
    </div>
</div>